<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('partials/css'); %>

    <title>ADMIN</title>
  </head>
  <body style="background-color: white; ">
    <div class="container-fluid mt-4 text-center">
        <div class="alert alert-danger" role="alert">

        ADMIN PANEL :type correct url on url bar to post new content. let`s see if you can"
            </div>

        <a name="" id="" class="btn btn-primary" href="/posts" role="button">Posts</a>
        <a name="" id="" class="btn btn-danger" href="/" role="button">Goto Homepage</a>

      </div>
  </body>
</html>
