<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('partials/css'); %>

    <title>HOME</title>
  </head>
  <body style="background-color: white;">
      <div class="container-fluid mt-4 text-center">
        <div class="alert alert-primary" role="alert">

        Welcome     <%=data %>

            </div>
        <a name="" id="" class="btn btn-primary" href="/posts" role="button">Posts</a>
        <a name="" id="" class="btn btn-danger" href="/admin" role="button">Admin</a>

      </div>
  </body>
</html>
