<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('partials/css'); %>

    <title>Login</title>
  </head>
  <body style="background-color: white;">
    <%- include('partials/nav'); %>

    <div class="container" style="margin-top: 100px;">

        <form method="POST" action="./login">
            <div class="row mb-3">
              <label for="inputUsername" class="col-sm-2 col-form-label">Username</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="username" id="inputUsername">
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" name="password" id="inputPassword3">
              </div>
            </div>
         
            <button type="submit" class="btn btn-primary">Sign in</button>
          </form>


    </div>

  </body>
</html>
